{% load staticfiles %}
<html>
<head>
<title> apaar97 : my webspace </title>
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
	<link href="//fonts.googleapis.com/css?family=Baloo Thambi&subset=latin,latin-ext" rel="stylesheet" type="text/css">
	<link rel="stylesheet" href="{% static 'css/blog.css' %}">
</head>
<body>
<div class="wrapper">
       <div class="page-header">
              {% if user.is_authenticated %}
                     <a href="{% url 'post_new' %}" class="top-menu"><span class="glyphicon glyphicon-plus"></span></a>       
              {% endif %}
              <h1 style="text-align:center; font-size:200%;"><a href="/">My Blog</a></h1>       
       </div>	
       <div class="content container">
               <div class="row">
                      <div class="col-md-8">
           	             {% block content %}
	             {% endblock %}
                      </div>
               </div>
       </div>
       <div class="push"> </div>
</div>
<div class="footer">
       <iframe src="http://free.timeanddate.com/clock/i5fu7v1n/n176/tlin/fn5/fs20/tt0/td1/th2/ta1" frameborder="1" width="500" height="26" align="middle">
       </iframe>
       <h4> This site is registered under the trademark copyright of apaar97 (c) 2016 </h4>
</div>
</body>
</html>