<html>
<head>
<title> apaar97 : my webspace </title>
</head>
<body style="background-color:lightgrey;">
<h1 style="text-align:center; color:black; font-family:Comic Sans MS;"> My blog </h1>
<br><br><br>
{% for post in posts %}
    <div>
        <h1><a href="">{{ post.title }}</a></h1>
        <p>published: {{ post.published_date }}</p>
        <p>{{ post.text|linebreaksbr }}</p>
    </div>
{% endfor %}
<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
<div style="text-align:center;">
<iframe src="http://free.timeanddate.com/clock/i5fu7v1n/n176/tlin/fn5/fs20/tt0/td1/th2/ta1" frameborder="1" width="500" height="26" align="middle">
</div>
</iframe>
<br><br>
<h4> This site is registered under the trademark copyright of apaar97 </h4>
</body>
</html>